body {
    max-width: 99.9%;
    margin: 10px;
    padding: 2px;
    font-family: Arial, Verdana, OpenSans, Roboto, non-serif;
    transition: 2s ease all;
    background: #f8f7f2;
}

img {
    max-width: 99%;
}

.hide {
    display: none;
}

svg#repo-avatar-img {
    max-width: 100px;
    margin-right: 15px;
    float: left;
    margin-bottom: 15px;
    outline: none;
}

#page-container {
    max-width: 1024px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    clear: both;
    outline: none;
}

div#repo-metadata-container {
    margin-top: 10px;
    margin-bottom: 15px;
    float: left;
    padding: 5px 10px;
    max-width: 99.9%;
    outline: none;
}

div#readme-content-container,
div#exodus-privacy-report {
    margin-top: 30px;
    float: left;
    max-width: 99.9%;
    outline: none;
}     

h1#repo-title-heading {
    float: left;
    margin: 10px;
    width: 80%;
    word-break: break-all;
}
span#repo-title-heading-short {
    float: left;
    word-wrap: break-word;
    word-break: break-word;
}
span#repo-title-heading-long {
    float: left;
}

a#repo-stars-count, span#repo-forks-count, a#repo-watchers-count, span#repo-code-docs  {
    float: left;
    padding: 3px;
    margin-left: 10px;
    outline: none;
    text-decoration: none;
}

span#repo-code-docs a {
    text-decoration: none;
}

div#repository-platforms {
    width: 80%;
    float:left;
}

div#repository-platforms svg {
    float: left;
    padding: 3px;
    margin: 5px;
    outline: none;
}

div#repo-metadata-stats {
    float: left;
    width: 80%;
}

a#repo-translation-badge {
    margin: 3px 10px;
    float: left;
}

div#repo-latest-release-container {
    float: left;
    width: 99.9%;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}
span.repo-latest-release-date {
    transition: 2s ease all;
}
span#latest-release-apk-filename::before {
    content: "download ➤";
    position: absolute;
    transform: translate(-100px, -5px);
    border: 1px solid;
    padding: 4px;
    font-size: 10pt;
}

div.toc ul {
    counter-reset: section;
    list-style-type: none;
    padding-left: 15px;
}
div.toc ul li::before {
    counter-increment: section; 
    content: counters(section,".") " ";
}
div.toc > ul > li > ul {
    display: none;
}

div.toc ul li a, div.toc ul li a:active, div.toc ul li a:focus, div.toc ul li a:visited {
    color: black;
}

a.code-anchor, a.code-anchor:active, a.code-anchor:focus, a.code-anchor:visited {
    text-decoration: none;
}

#readme-content-container h1, #readme-content-container h2, #readme-content-container h3,
#readme-content-container h4, #readme-content-container h5,
#exodus-privacy-report h1, #exodus-privacy-report h2, #exodus-privacy-report h3,
#exodus-privacy-report h4, #exodus-privacy-report h5 {
    color: black;
}

#readme-content-container h1, #exodus-privacy-report h1 {
    font-size: 22pt;
}
#readme-content-container h2, #exodus-privacy-report h2 {
    font-size: 20pt;
}
#readme-content-container h3, #exodus-privacy-report h3 {
    font-size: 18pt;
}
#readme-content-container h4, #exodus-privacy-report h4 {
    font-size: 16pt;
}
#readme-content-container h5, #exodus-privacy-report h5 {
    font-size: 14pt;
}

#readme-content-container a.toclink, #exodus-privacy-report a.toclink {
    color: #3865cc;
    text-decoration: none;
}
#readme-content-container a.toclink:hover,
#exodus-privacy-report a.toclink:hover {
    text-decoration: none;
    cursor: default;
}
#readme-content-container a.toclink:hover:after,
#exodus-privacy-report a.toclink:hover:after {
    content: '¶';
    margin-left: 5px;
    opacity: 0.8;
    transition: 2s ease all;
}

#readme-content-container p a, #readme-content-container p a:active,
#readme-content-container p a:visited, #readme-content-container p a:hover,
#readme-content-container p a:focus,
#exodus-privacy-report p a, #exodus-privacy-report p a:active,
#exodus-privacy-report p a:visited, #exodus-privacy-report p a:hover,
#exodus-privacy-report p a:focus
{
    color: #3865cc;
    outline: none;
}

div#readme-content-container img[src*="/badge/"],
img.badge-img {
    max-width: 200px;
    height: auto;
}
div#readme-content-container p img {
    padding: 3px;
}
div#readme-content-container p img[width="16"] { /* weather icons */
    padding: 0px;
    margin: 0px;
}

div#readme-content-container pre,
div#exodus-privacy-report pre {
    max-width: 99%!important;
    width: auto;
    word-break: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
}
div#readme-content-container p code,
div#readme-content-container li code,
div#readme-content-container pre code,
div#readme-content-container b code,
div#exodus-privacy-report p code,
div#exodus-privacy-report li code,
div#exodus-privacy-report pre code,
div#exodus-privacy-report b code
 {
    padding: 2px 3px;
    background: #aea4a452;
    border-radius: 5px;
    line-height: 1.6;
}

a#latest-release-apk-download-link, span#latest-release-apk-size,
span#latest-release-apk-download-count {
    text-decoration: none;
    color: #3865cc;
}
a#latest-release-apk-download-link:hover {
    text-decoration: underline;
    transition: 0.5s ease all;
}

div#copyright {
    float: left;
    width: 99.9%;
    margin-top: 30px;
    border-top: 2.5px solid #3865cc;
}
div#copyright ul li a {
    color: black;
}

p#page-footer-text {
    font-size: 10pt;
    text-align: center;
}

input#areas-table-filter-input, input#areas-table-filter-input:focus,
input#stations-table-filter-input, input#stations-table-filter-input:focus
{
    width: 90%;
    border: 1px solid;
    padding: 3px;
    margin: 3px;
    background-color: transparent;
    outline: none;
}
table#areas-table,
table#stations-table {
    overflow-x : scroll;
    width: 95%;
    margin: 2px;
    padding: 2px;
}
tr#areas-table-headings th,
tr#stations-table-headings th {
    font-style: normal;
    font-weight: bold;
}
tr#areas-table-headings, tr.areas-table-row,
tr#stations-table-headings, tr.stations-table-row
{
    padding: 2px;
}
tr.areas-table-row:hover td,
tr.stations-table-row:hover td
{
    color: #3865cc;
    transition: all 1.2s ease-in;
}
tr#areas-table-headings th, tr.areas-table-row td,
tr#stations-table-headings th, tr.stations-table-row td
{
    margin-right: 10px;
    padding: 5px;
    border-bottom: 1px solid;
    border-right: 1px solid;
}
tr#areas-table-headings th:last-child, tr.areas-table-row td:last-child,
tr#stations-table-headings th:last-child, tr.stations-table-row td:last-child
{
    border-right: none;
}
ul#areas-table-pagination,
ul#stations-table-pagination
{
    padding: 5px;
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
ul#areas-table-pagination li,
ul#stations-table-pagination li
{
    list-style-type: none;
    float: left;
    padding: 5px;
}
ul#areas-table-pagination li a, ul#areas-table-pagination li a:active, ul#areas-table-pagination li a:hover,
ul#areas-table-pagination li a:visited, ul#areas-table-pagination li a:focus,
ul#stations-table-pagination li a, ul#stations-table-pagination li a:active, ul#stations-table-pagination li a:hover {
    text-decoration: none;
    color: #000000;
}
ul#areas-table-pagination li a:hover,
ul#stations-table-pagination li a:hover {
    color: #3865cc;
    background-color: transparent;
    transition: all 0.5s ease-in;
}
ul#areas-table-pagination li.active,
ul#stations-table-pagination li.active {
    border: 2px solid #3865cc;
    border-radius: 10px;
    padding: 3px 5px;
}

@media only screen and (max-width: 1240px) {
    span#latest-release-apk-filename::before {
        content: "";
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    #page-container {
        max-width: 100%;
    }
    h1#repo-title-heading {
        width: calc(100vw - 200px);
    }
    span#repo-stars-count-text, span#repo-forks-count-text, span#repo-watchers-count-text {
        display: none;
    }
    div#repo-metadata-stats span {
        margin-bottom: 10px;
    }
    a#repo-stars-count:after {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='star_icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 47.94 47.94' style='enable-background:new 0 0 47.94 47.94;' xml:space='preserve'%3E%3Cpath style='fill:%23ED8A19;' d='M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A"); /* source: https://www.svgrepo.com/svg/13695/star */
        background-size: cover;
        width: 16px;
        content: " ";
        height: 16px;
        padding-top: 4px;
        padding-bottom: 7px;
        padding-right: 17px;
        padding-left: 15px;
        margin: 5px;
        clear: both;
        font-size: 13pt;
    }
    span#repo-forks-count:after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 5C7 3.89543 7.89543 3 9 3C10.1046 3 11 3.89543 11 5C11 5.74028 10.5978 6.38663 10 6.73244V14.0396H11.7915C12.8961 14.0396 13.7915 13.1441 13.7915 12.0396V10.7838C13.1823 10.4411 12.7708 9.78837 12.7708 9.03955C12.7708 7.93498 13.6662 7.03955 14.7708 7.03955C15.8753 7.03955 16.7708 7.93498 16.7708 9.03955C16.7708 9.77123 16.3778 10.4111 15.7915 10.7598V12.0396C15.7915 14.2487 14.0006 16.0396 11.7915 16.0396H10V17.2676C10.5978 17.6134 11 18.2597 11 19C11 20.1046 10.1046 21 9 21C7.89543 21 7 20.1046 7 19C7 18.2597 7.4022 17.6134 8 17.2676V6.73244C7.4022 6.38663 7 5.74028 7 5Z' fill='black'/%3E%3C/svg%3E%0A"); /* source: https://www.svgrepo.com/svg/315651/git-fork */
        background-size: cover;
        width: 16px;
        content: " ";
        height: 16px;
        padding-top: 6px;
        padding-bottom: 17px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 5px;
        clear: both;
        font-size: 13pt;
    }
    a#repo-watchers-count:after {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='eye_icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 280.028 280.028' style='enable-background:new 0 0 280.028 280.028;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:%23E4E7E7;' d='M140.014,43.759c77.323,0,140.014,43.098,140.014,96.259s-62.691,96.251-140.014,96.251 S0,193.188,0,140.027S62.691,43.759,140.014,43.759z'/%3E%3Cpath style='fill:%233DB39E;' d='M140.014,70.011c38.661,0,70.007,31.346,70.007,70.007s-31.346,69.998-70.007,69.998 s-70.007-31.337-70.007-69.998S101.352,70.011,140.014,70.011z'/%3E%3Cpath style='fill:%23324D5B;' d='M140.014,96.264c24.17,0,43.754,19.593,43.754,43.754c0,24.17-19.584,43.746-43.754,43.746 S96.26,164.188,96.26,140.018C96.259,115.857,115.844,96.264,140.014,96.264z'/%3E%3Cpath style='fill:%23C9EAE4;' d='M166.266,96.264c9.661,0,17.502,7.841,17.502,17.502s-7.841,17.493-17.502,17.493 s-17.502-7.832-17.502-17.493S156.605,96.264,166.266,96.264z'/%3E%3Cpath style='fill:%23D6DBDE;' d='M180.591,123.794c-4.454-11.096-13.266-19.899-24.336-24.345c-4.524,3.168-7.491,8.392-7.491,14.325 c0,9.661,7.841,17.493,17.502,17.493C172.199,131.267,177.406,128.301,180.591,123.794z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A"); /* source: https://www.svgrepo.com/svg/42002/eye */
        background-size: cover;
        width: 16px;
        content: " ";
        height: 16px;
        padding: 4px 15px;
        margin: 5px;
        clear: both;
        font-size: 13pt;
    } 
    div#repo-latest-release-container {
        margin: 10px;
    }
    span#latest-release-apk-filename::before {
        content: "";
        display: none;
    }
    div#readme-content-container,
    div#exodus-privacy-report {
        margin-left: 10px;
        margin-right: 10px;
    }
    div#copyright {
        max-width: 99.9%;
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }
}
@media only screen and (max-width: 600px) {
    #page-container {
        max-width: 99%;
    }
    h1#repo-title-heading {
        width: 99%;
    }
    span#repo-title-heading-long {
        display: none;
    }
    span#repo-stars-count-text, span#repo-forks-count-text, span#repo-watchers-count-text {
        display: none;
    }
    div#repo-metadata-stats span {
        margin-bottom: 10px;
    }
    a#repo-stars-count:after {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='star_icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 47.94 47.94' style='enable-background:new 0 0 47.94 47.94;' xml:space='preserve'%3E%3Cpath style='fill:%23ED8A19;' d='M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A"); /* source: https://www.svgrepo.com/svg/13695/star */
        background-size: cover;
        width: 16px;
        content: " ";
        height: 16px;
        padding-top: 4px;
        padding-bottom: 7px;
        padding-right: 15px;
        margin: 5px;
        clear: both;
        font-size: 13pt;
    }
    span#repo-forks-count:after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 5C7 3.89543 7.89543 3 9 3C10.1046 3 11 3.89543 11 5C11 5.74028 10.5978 6.38663 10 6.73244V14.0396H11.7915C12.8961 14.0396 13.7915 13.1441 13.7915 12.0396V10.7838C13.1823 10.4411 12.7708 9.78837 12.7708 9.03955C12.7708 7.93498 13.6662 7.03955 14.7708 7.03955C15.8753 7.03955 16.7708 7.93498 16.7708 9.03955C16.7708 9.77123 16.3778 10.4111 15.7915 10.7598V12.0396C15.7915 14.2487 14.0006 16.0396 11.7915 16.0396H10V17.2676C10.5978 17.6134 11 18.2597 11 19C11 20.1046 10.1046 21 9 21C7.89543 21 7 20.1046 7 19C7 18.2597 7.4022 17.6134 8 17.2676V6.73244C7.4022 6.38663 7 5.74028 7 5Z' fill='black'/%3E%3C/svg%3E%0A"); /* source: https://www.svgrepo.com/svg/315651/git-fork */
        background-size: cover;
        width: 16px;
        content: " ";
        height: 16px;
        padding-top: 6px;
        padding-bottom: 17px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 5px;
        clear: both;
        font-size: 13pt;
    }
    a#repo-watchers-count:after {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='eye_icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 280.028 280.028' style='enable-background:new 0 0 280.028 280.028;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:%23E4E7E7;' d='M140.014,43.759c77.323,0,140.014,43.098,140.014,96.259s-62.691,96.251-140.014,96.251 S0,193.188,0,140.027S62.691,43.759,140.014,43.759z'/%3E%3Cpath style='fill:%233DB39E;' d='M140.014,70.011c38.661,0,70.007,31.346,70.007,70.007s-31.346,69.998-70.007,69.998 s-70.007-31.337-70.007-69.998S101.352,70.011,140.014,70.011z'/%3E%3Cpath style='fill:%23324D5B;' d='M140.014,96.264c24.17,0,43.754,19.593,43.754,43.754c0,24.17-19.584,43.746-43.754,43.746 S96.26,164.188,96.26,140.018C96.259,115.857,115.844,96.264,140.014,96.264z'/%3E%3Cpath style='fill:%23C9EAE4;' d='M166.266,96.264c9.661,0,17.502,7.841,17.502,17.502s-7.841,17.493-17.502,17.493 s-17.502-7.832-17.502-17.493S156.605,96.264,166.266,96.264z'/%3E%3Cpath style='fill:%23D6DBDE;' d='M180.591,123.794c-4.454-11.096-13.266-19.899-24.336-24.345c-4.524,3.168-7.491,8.392-7.491,14.325 c0,9.661,7.841,17.493,17.502,17.493C172.199,131.267,177.406,128.301,180.591,123.794z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A"); /* source: https://www.svgrepo.com/svg/42002/eye */
        background-size: cover;
        width: 16px;
        content: " ";
        height: 16px;
        padding: 4px 15px;
        margin: 5px;
        clear: both;
        font-size: 13pt;
    }
    span#repo-code-docs {
        max-width: 80%;
        width: auto;
    }
    div#repo-latest-release-container {
        margin: 10px;
    }
    span#latest-release-apk-filename::before {
        content: "";
        display: none;
    }
    div#readme-content-container {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 95%;
        word-break: break-all;
    }
    tr#areas-table-headings, tr.areas-table-row,
    tr#stations-table-headings, tr.stations-table-row {
        display: list-item;
        list-style-type: none;
        padding: 2px;
    }
    div#copyright {
        max-width: 95%;
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: #EEEEEE;
        background: transparent;
    }
    
    body {
        color: #EEEEEE;
        background: #293235;
    }

    svg#repo-avatar-img {
        border: 2px solid #eeeeeebd;
        border-radius: 25px;
    }

    svg#github-svg-icon {
        fill: #f6ecda;
    }

    span#repo-forks-count:after {
        filter: invert(0.9);
    }

    a#latest-release-apk-download-link, span#latest-release-apk-size,
    span#latest-release-apk-download-count {
        color: #EEEEEE;
    }
    span#latest-release-apk-filename::before {
        color: #6292ff;
        border: 1px solid #6292ff;
    }

    div.toc ul li::before,
    #readme-content-container p a,
    #exodus-privacy-report p a
    {
        color: #6292ff;
        text-decoration: none;
    }

    #readme-content-container p a:hover {
        color: #6292ff;
        text-decoration: underline; 
    }
    div#readme-content-container p code,
    div#readme-content-container li code,
    div#readme-content-container pre code,
    div#readme-content-container b code,
    div#exodus-privacy-report p code,
    div#exodus-privacy-report li code,
    div#exodus-privacy-report pre code,
    div#exodus-privacy-report b code {
        background: #746f6f63;
    }

    input#areas-table-filter-input::placeholder,
    input#stations-table-filter-input::placeholder
    {
        color: #ccc;
    }
    ul#areas-table-pagination li.active,
    ul#stations-table-pagination li.active
    {
        border: 2px solid #6292ff;
    }

    #readme-content-container a.toclink,
    div#copyright ul li a,
    div.toc a, div.toc ul li a, div.toc ul li a:active, div.toc ul li a:focus, div.toc ul li a:visited,
    ul#areas-table-pagination li a, ul#areas-table-pagination li a:active, ul#areas-table-pagination li a:hover,
    ul#areas-table-pagination li a:visited, ul#areas-table-pagination li a:focus,
    ul#stations-table-pagination li a, ul#stations-table-pagination li a:active, ul#stations-table-pagination li a:hover,
    ul#stations-table-pagination li a:visited, ul#stations-table-pagination li a:focus,
    div#exodus-privacy-report p a, div#exodus-privacy-report a.toclink
    {
        color: #eee;
    }
}

@media print {
    @page {
        size: A4;
        orientation: portait;
        margin: 1cm;
    }

    *, body {
        color: #000000!important;
        background: transparent;
        font-size: 11pt;
    }
    
    body {
        color: #000000!important;
        background: #FFFFFF!important;
    }

    img {
        max-width: 90%;
        background: transparent!important;
        margin: 10px;
        page-break-inside:avoid;
    }

    svg#repo-avatar-img {
        border: none;
    }
    svg#github-svg-icon {
        fill: #000000;
    }
    span#repo-forks-count:after {
        filter: none;
    }
    a#repo-translation-badge img {
        margin: none;
    }

    div#readme-content-container p code,
    div#readme-content-container li code,
    div#readme-content-container pre code,
    div#readme-content-container b code,
    div#exodus-privacy-report p code,
    div#exodus-privacy-report li code,
    div#exodus-privacy-report pre code,
    div#exodus-privacy-report b code {
        background: transparent;
    }

    div#copyright {
        border-top: none;
    }

    div.toc ul li,
    div.toc ul li a,
    div.toc ul li::marker,
    div.toc ul li::before,
    #readme-content-container a,
    #readme-content-container a.toclink,
    div#copyright ul li a,
    div.toc ul li a, div.toc ul li a:active, div.toc ul li a:focus, div.toc ul li a:visited,
    #exodus-privacy-report a, #exodus-privacy-report a.toclink
    {
        color: #000000!important;
    }
}
